.env
hypr/host.conf
nvim/lazy-lock.json

streamcontroller/*
!streamcontroller/settings/
!streamcontroller/settings/*
!streamcontroller/pages/
!streamcontroller/pages/*
streamcontroller/pages/backups/*
streamcontroller/settings/settings.json

spicetify/*
!spicetify/Themes/*
!spicetify/config-xpui.ini
