.env
hypr/host.conf
fish/fish_variables
nvim/lazy-lock.json

streamcontroller/*
!streamcontroller/settings/
!streamcontroller/settings/*
streamcontroller/settings/settings.json
!streamcontroller/pages/
!streamcontroller/pages/*
streamcontroller/pages/backups/*

spicetify/*
!spicetify/Themes/*
!spicetify/config-xpui.ini
cava/shaders/
