* {
    border:        none;
    border-radius: 0;
    font-family:   "Google Sans", "Material Design Icons";
    font-weight: bold;
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

tooltip {
  font-weight: normal;
}

tooltip label {
  font-weight: normal;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.6);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button.empty {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button {
    padding:    0 5px;
    /* color:      rgba(217, 216, 216, 0.4); */
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #wireplumber, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    /* margin:     0px 4px; */
    /* min-width:  12px; */
}

#custom-media {
  margin-left: 4px;
}

#clock {
  margin-top: 2px;
  margin-right: 5px;
  min-width: 220px;
}

#pulseaudio {
  margin-top: 2px;
}

#battery {
  margin-top: 2px;
}

#custom-weather {
  margin-top: 2px;
}

#idle_inhibitor {
  margin-top: 2px;
  margin-left: 4px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
