[class*=autocompleteInner]{
    background-color:var(--background-floating)
}
[class*=autocomplete] [class*=selected]{
    background-color:var(--background-secondary)
}
div[class*=categoryHeader]{
    background-color:var(--background-secondary)
}
[class*=slider]>div[class*=bar]{
    background-color:var(--background-accent)
}
button[class*=selectorButtonSelected],button[class*=selectorButton]:hover,div[class*=serverBoostTabItem][class*=selected],div[class*=premiumTabItem][class*=selected],[class*=wrapper][class*=selected] [class*=childWrapper],[class*=radioGroup] [class*=cardPrimaryEditable][style*="rgb(114, 137, 218)"],[class*=valueChecked],button[class*=lookFilled][class*=colorBrand]:not(button[class*=customSwatch]){
    background-color:var(--theme-button-default) !important
}
div[class*=barFill]{
    background-color:var(--theme-notification-colour)
}
[class*=valueUnchecked]{
    background-color:var(--background-accent)
}
button[class*=lookFilled][class*=colorGreen],button[class*=lookInverted][class*=colorGreen],div[aria-controls=add_friend-tab]{
    background-color:var(--theme-button-positive) !important;
    color:var(--header-primary) !important
}
div[class*=control]>div[class*=container][class*=checked]{
    background-color:var(--theme-button-positive) !important
}
div[class*=control]>div[class*=container][class*=checked]>svg[class*=slider]>svg>path{
    fill:var(--theme-button-positive) !important
}
div[class*=control]>div[class*=container]:not([class*=checked]){
    background-color:var(--background-accent) !important
}
div[class*=control]>div[class*=container]:not([class*=checked])>svg[class*=slider]>svg>path{
    fill:var(--background-accent) !important
}
button[class*=lookInverted][class*=colorBrand]{
    background-color:var(--theme-button-default) !important;
    color:var(--text-normal) !important
}
button[class*=lookFilled][class*=colorRed]{
    background-color:var(--theme-button-negative) !important
}
button[class*=lookFilled][class*=colorGrey],button[class*=lookFilled][class*=colorPrimary]{
    background-color:var(--background-accent) !important;
    color:var(--text-normal) !important
}
[class*=streamPreview]>button[class*=cta]{
    background-color:var(--background-accent)
}
div[class*=progress] rect[class*=background]{
    color:var(--background-accent) !important
}
div[class*=barBackground]{
    background-color:var(--background-accent) !important
}
div[class*=colorStandard]{
    color:var(--header-primary)
}
div[class*=channelTextArea] div[class*=separator] button>div[class*=button] div[class*=activeButtonChild]{
    opacity:.75 !important;
    color:var(--theme-notification-colour)
}
div[class*=channelTextArea] div[class*=separator] button>div[class*=button]:hover div[class*=buttonChild],div[class*=channelTextArea] div[class*=separator] button>div[class*=button]:focus div[class*=buttonChild],div[class*=channelTextArea] div[class*=separator] button>div[class*=button]:focus-within div[class*=buttonChild]{
    opacity:1 !important
}
button[class*=actionColor],div[class*=activityUserPopout]>div>button[class*=buttonColor]{
    background-color:var(--theme-button-default) !important
}
[class*=colorDanger]:not(:hover):not(:active){
    color:var(--theme-menu-red);
    background-color:transparent
}
[class*=colorDanger]:hover,[class*=colorDanger]:hover [class*=colorDefault],[class*=colorDanger]:active,[class*=colorDanger]:active [class*=colorDefault]{
    background-color:var(--theme-menu-red) !important;
    border-color:var(--theme-menu-red)
}
div[class*=popout]>div[class*=row][role=button]:hover,[class*=colorDefault]:hover,[class*=colorDefault]:active:not([class*=hideInteraction]),[class*=colorDefault][class*=focused]{
    background-color:var(--theme-menu-default)
}
[class*=colorDefault][class*=hideInteraction]{
    background-color:initial
}
[id*=message-quickreact] [class*=button]{
    border-radius:var(--theme-border-radius)
}
[role=dialog][aria-label^="Add Role"] [class*=header]{
    background-color:var(--background-secondary)
}
[role=dialog][aria-label^="Add Role"] [class*=sectionTag]{
    background-color:var(--background-floating)
}
div[class*=selectOption]:hover{
    background-color:var(--background-modifier-hover)
}
div[role=group]>div[class*=colorPremiumGradient][class*=item]{
    display:none
}
div[class*=chat]>div[class*=container]{
    background-color:var(--background-secondary)
}
div[class*=chat]>div[class*=container] div[class*=tabBar]{
    border-bottom-color:var(--background-accent)
}
div[class*=chat][class*=scrollerContainer]{
    background-color:var(--background-tertiary)
}
[class^=message] [class*=cozy] [class*=repliedMessage]{
    background-color:var(--background-secondary);
    border-radius:var(--theme-border-radius);
    width:fit-content;
    max-width:100%;
    padding:4px;
    margin:0
}
[class^=message] [class*=cozy] [class*=repliedMessage]::before{
    display:none
}
[class^=message][class*=mentioned]::before{
    background-color:var(--theme-notification-colour)
}
img[class*=replyAvatar]{
    background-color:var(--background-secondary-alt);
    padding:1.5px
}
[class*=reactions][role=group] [class*=reaction]{
    background-color:var(--background-modifier-hover)
}
[class*=reactions][role=group] [class*=reaction][class*=reactionMe]{
    background-color:var(--background-accent)
}
[class^=preview][class^=invite],[class^=message] [class^=invite]{
    background-color:var(--background-secondary);
    border-color:var(--background-secondary-alt)
}
[class*=spoilerContent][class*=hidden]{
    background-color:var(--background-tertiary) !important
}
[class*=spoilerContent]:not([class*=hidden]){
    background-color:var(--background-modifier-hover) !important
}
[class*=regionSelectModal],[class*=overflowRolesPopout]:not([class*=ArrowWrapper]),[class*=colorPickerCustom],[class*=streamPreviewWrapper] [class*=streamPreview],[class*=addGamePopout],[class*=keyboardShortcutsModal],[class*=uploadModal],[class*=uploadModal]>[class*=inner],[role=dialog] [class*=content][class*=thin][class*=scrollerBase],[role=dialog] [class*=header][class*=horizontal]{
    background-color:var(--background-floating) !important
}
[class*=root][class*=small],[class*=modalContents]{
    background-color:var(--background-floating)
}
[role=dialog] [class*=footer]{
    background-color:var(--background-secondary)
}
[role=dialog] [class^=message]:not([class^=replied]){
    background-color:var(--background-primary)
}
[role=dialog]>div>[class*=thin][class*=scroller]{
    background-color:var(--background-secondary)
}
[class*=menu],[role=dialog] [class*=reactors]{
    background-color:var(--background-primary) !important;
    border-color:var(--background-secondary-alt)
}
[class*=root][class*=small] a{
    color:var(--text-link)
}
[class*=quickswitcher]>[class*=input]{
    background-color:var(--background-secondary-alt)
}
div[class*=guildPopout]>div[class*=body]{
    background-color:var(--background-floating)
}
[class*=userPopout]>[class*=body],[class*=userPopout] [class*=footer]{
    background-color:var(--background-floating) !important
}
[role=option][class*=role],[class*=role][class*=addButton],[class*=role][class*=overflowButton]{
    border-radius:2.5px;
    background-color:unset
}
div[class*=userProfileOuter]:not([class*=userProfileOuterThemed]) div[class*=listRow][role=button]{
    background-color:var(--background-secondary-alt)
}
div[class*=userProfileOuter]:not([class*=userProfileOuterThemed]) div[class*=listRow][role=button]:hover{
    background-color:var(--background-modifier-hover)
}
div[class*=userProfileOuter]:not([class*=userProfileOuterThemed]) div[class*=note] textarea{
    background-color:var(--background-tertiary)
}
div[class*=userProfileOuter]:not([class*=userProfileOuterThemed]) div[class*=tabBarContainer] div[class*=tabBar][role=tablist] div[class*=tabBarItem][aria-selected=true]{
    background-color:var(--background-secondary-alt)
}
div[class*=userProfileOuter]:not([class*=userPanelOuter]) div[class*=listRow][role=button]{
    width:48%;
    height:50px;
    margin-bottom:10px;
    box-sizing:border-box;
    border-radius:var(--theme-border-radius)
}
div[class*=userProfileOuter]:not([class*=userPanelOuter]) svg[class*=additionalActionsIcon]{
    height:32px;
    width:32px;
    background-color:var(--background-accent);
    border-radius:3px;
    transform:rotate(90deg)
}
div[class*=userProfileOuter]:not([class*=userPanelOuter]) div[class*=listScroller]{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
    align-content:flex-start
}
div[class*=userProfileOuter][class*=userPanelOuter] div[class*=listRow][role=button]{
    padding:5px;
    margin-bottom:5px;
    border-radius:var(--theme-border-radius)
}
div[class*=userProfileOuter] div[class*=note] textarea{
    padding:10px
}
div[class*=userProfileOuter] div[class*=connectedAccounts] div[class*=connected]:not([class*=connectedAccountName]){
    border:none;
    border-radius:var(--theme-border-radius)
}
div[class*=userProfileOuter] div[class*=connectedAccounts] svg[class*=flowerStar]>path{
    fill:var(--background-accent)
}
div[class*=userProfileOuter] div[class*=tabBarContainer]{
    border:none;
    padding-bottom:5px
}
div[class*=userProfileOuter] div[class*=tabBarContainer] div[class*=tabBar][role=tablist]{
    height:40px
}
div[class*=userProfileOuter] div[class*=tabBarContainer] div[class*=tabBar][role=tablist] div[class*=tabBarItem]{
    display:flex;
    align-items:center;
    margin:0;
    padding:0 15px;
    border-bottom:none;
    border-radius:var(--theme-border-radius)
}
div[class*=userProfileOuter] div[class*=tabBarContainer] div[class*=tabBar][role=tablist] div[class*=tabBarItem][aria-selected=true]{
    font-weight:bolder
}
div[class*=usernameSection]>div>div[class*=userText]>div[class*=userTag]::before,div[class*=section]>div>div[class*=userText]>div[class*=userTag]::before{
    content:"@";
    color:var(--header-primary)
}
div[class*=container]>div>div[class*=nameTag]:not([class*=canCopy])::before{
    content:"@";
    color:var(--text-normal)
}
[class*=pageWrapper]{
    background-color:var(--background-primary) !important
}
[class*=peopleColumn]{
    background-color:var(--background-primary)
}
div[class*=nowPlayingColumn] div[class*=itemCard][class*=interactive][aria-expanded=true],div[class*=nowPlayingColumn] div[class*=itemCard][class*=interactive]:hover{
    background-color:var(--background-tertiary)
}
[class*=circleIconButton]{
    color:var(--theme-positive)
}
[class*=circleIconButton][class*=selected],[class*=circleIconButton]:hover{
    background-color:var(--theme-positive);
    color:#fff
}
[class*=guildSeparator],ul[class*=tree] svg [class*=childWrapper]{
    background-color:var(--background-accent)
}
div[class*=base] div[class*=content] div[class*=background][class*=chat]{
    background-color:var(--background-primary)
}
[class*=messagesErrorBar]{
    background-color:var(--theme-negative) !important
}
[class*=newMessagesBar]{
    background-color:var(--theme-default);
    opacity:.75;
    z-index:20
}
[class*=elevationBorderHigh]{
    background-color:var(--background-floating) !important
}
[class*=elevationBorderHigh] [class*=queryContainer]{
    background-color:var(--background-floating) !important
}
[class*=elevationBorderHigh] [class*=resultsGroup] [class*=option]::after{
    background:none !important
}
[class*=elevationBorderHigh] [class*=option][class*=selected],[class*=elevationBorderHigh] [class*=option][aria-selected=true]{
    background-color:var(--background-secondary)
}
[class*=searchFilter],[class*=searchAnswer]{
    background-color:var(--background-accent) !important;
    color:var(--text-normal)
}
div[class*=react-datepicker]{
    background-color:var(--background-floating) !important
}
div[class*=numberBadge],div[class*=unreadBar],div[class*=unreadMentionsIndicatorTop]>div[class*=unreadMentionsBar]{
    background-color:var(--theme-notification-colour) !important
}
div[class*=profileGroup] div[class*=profileBody]>div[class*=bodyInnerWrapper],div[class*=sidebar]>section[class*=panels]{
    background-color:transparent
}
div[class*=chat]>[class*=content]::before,nav[class*=container]>div[class*=container][class*=clickable]>header[class*=header]{
    box-shadow:none
}
div[class*=chat]>section[class*=container][class*=themed]{
    background-color:var(--background-secondary)
}
div[class*=toolbar]>a[class*=anchor]{
    display:none
}
div[class*=toolbar]>div[class*=search]{
    order:1
}
div[class*=chat]>div[class*=content]>div[class*=container]{
    background-color:var(--background-tertiary)
}
div[class*=chat]>div[class*=content]>div[class*=container] div[class*=postBody] div[class*=textContentFooter]{
    display:none
}
div[class*=chat]>div[class*=content]>div[class*=container][class*=showTopicCard]{
    background-color:var(--background-floating)
}
div[class*=chat][class*=threadSidebarOpen]>div[class*=content]>div[class*=container]{
    background-color:var(--background-secondary)
}
div[class*=messagesWrapper] ol[class*=scrollerInner]>div[class*=divider]{
    background-color:var(--background-secondary)
}
[class*=memberListItem]:not([class*=popoutDisabled]):hover{
    background-color:var(--background-secondary) !important
}
[class*=videoWrapper]{
    background-color:var(--background-accent)
}
div[class*=callContainer]>div[class*=root]{
    background-color:var(--background-secondary-alt)
}
div[class*=callContainer]>div[class*=root]>div[class*=videoControls]>div[class*=gradientContainer]{
    background-image:none
}
aside[class*=membersWrap]>div[class*=members]{
    background:none
}
aside[class*=membersWrap]>div[class*=members] div>div[class*=member]{
    background:none
}
div[class*=divider][class*=isUnread]{
    --divider-color: var(--theme-negative)
}
[class*=perksModal]{
    background-color:var(--background-primary) !important;
    background-image:none !important
}
[class*=perksModal] [class*=tierMarkerContainer] [class*=tierMarkerBackground],[class*=perksModal] [class*=perks]>[class*=perk]{
    background-color:var(--background-floating)
}
[class*=tierBody]{
    background-color:var(--background-floating) !important
}
[class*=tierHeaderLocked],[class*=tierHeaderUnlocked]{
    background-color:var(--background-secondary) !important
}
div[class*=tierInProgress]{
    background-color:var(--background-accent) !important
}
[class*=micTest] [class*=container]{
    border-radius:var(--theme-border-radius)
}
[class*=micTest] [class*=container] [class*=notches]{
    display:none
}
[class*=micTest] [class*=container] [class*=progress]{
    background-color:var(--background-secondary)
}
[class*=card][class*=member]::before,[class*=card][class*=game]::before,[class*=card][class*=bannedUser]::before,[class*=card][class*=InviteRow]::before,[class*=card][class*=emojiRow]::before{
    background-color:var(--background-secondary);
    border:none
}
[class*=formNotice],[class*=notDetected],[class*=userSettingsVoice] [class*=previewOverlay],[class*=codeRedemptionRedirect]{
    background-color:var(--background-floating) !important
}
.hljs-meta,.hljs-meta-keyword,.hljs-keyword{
    color:var(--theme-syntax-keyword) !important
}
.hljs-code,.hljs-formula,.hljs-strong,.hljs-emphasis,.hljs-built_in{
    color:var(--theme-syntax-markup) !important
}
.hljs-selector-pseudo,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-bullet,.hljs-section,.hljs-title,.hljs-number,.hljs-literal{
    color:var(--theme-syntax-func) !important
}
.hljs-operator{
    color:var(--theme-syntax-operator) !important
}
.hljs-params,.hljs-variable,.hljs-punctuation{
    color:var(--text-normal) !important
}
.hljs-quote,.hljs-char.escape_,.hljs-regexp{
    color:var(--theme-syntax-regexp) !important
}
.hljs-meta-string,.hljs-string{
    color:var(--theme-syntax-string) !important
}
.hljs-symbol{
    color:var(--theme-syntax-special) !important
}
.hljs-variable.language_{
    color:var(--theme-syntax-constant) !important
}
.hljs-subst,.hljs-variable.constant_{
    color:var(--theme-syntax-regexp) !important
}
.hljs-title.class_.inherited__,.hljs-title.class_{
    color:var(--theme-syntax-entity) !important
}
.hljs-doctag,.hljs-comment{
    color:var(--theme-syntax-comment) !important
}
.hljs-selector-tag,.hljs-link,.hljs-attr,.hljs-attribute,.hljs-name,.hljs-tag,.hljs-type{
    color:var(--theme-syntax-tag) !important
}
.hljs-addition{
    color:var(--theme-syntax-added) !important
}
.hljs-deletion{
    color:var(--theme-syntax-removed) !important
}
div[class*=betaBadge],[class*=botTag]{
    background-color:var(--theme-bot-tag-bg-colour) !important;
    color:var(--theme-bot-tag-fg-colour);
    border-radius:var(--theme-bot-tag-radius)
}
[class*=FilterPopout]{
    background-color:var(--background-floating) !important
}
[class*=content]>[class*=selectedBrand]{
    background-color:var(--theme-default) !important
}
[class*=bottomControls] [class*=colorable][class*=primaryDark]{
    background-color:var(--background-accent)
}
[role=dialog] [class*=modalSize][class*=root],[class*=segmentContainer] [class*=segmentControl]{
    background-color:var(--background-floating)
}
[class*=noticeRegion] [class*=elevationHigh]{
    background-color:var(--background-floating) !important
}
div[class*=giftCodeContainer]>div[class*=tile],div[class*=giftCodeContainer]>div[class*=tile]:hover{
    background-color:var(--background-tertiary)
}
textarea[class*=input]:focus,input[class*=input]:focus{
    border-color:var(--theme-notification-colour)
}
div[class*=markDash]{
    background-color:var(--background-accent) !important
}
div[class*=markValue]{
    color:var(--text-muted) !important
}
div[class*=keybindShortcut] span{
    background-color:var(--background-accent) !important
}
section[class*=title] div[class*=children]::after,section[class*=header] div[class*=innerHeader]::after{
    background:none !important
}
span[class*=codeBlockLang]{
    color:var(--theme-notification-colour);
    font-weight:600
}
div[class*=eventCard] div[class*=footer]{
    background-color:transparent
}
div[class*=focusLock]>div[class*=carouselModal]{
    box-shadow:none
}
div[class*=directoryModal]{
    background-color:var(--background-primary) !important
}
div[class*=headerBackground]>div[class*=header][class*=horizontal]{
    background:none !important
}
