/**
    * @name nos
    * @version 0.0.1
    * @description 
    * @author NOSDuco#1337
    *
    * @website https://github.com/nosduco
    * @source https://github.com/nosduco/dotfiles/discord.css
**/

:root {
    /* --------- BASE THEME --------- */
    --blurple-replace: #e95420;
    --green: 71, 213, 139; /* Use RGB values */
    --dark-green: 56, 171, 111; /* Use RGB values */
    --primary-color: #e95420;
    --brand-experiment: #e95420;
    --brand-experiment-500: rgba(233, 84, 32, 0.65);
    --brand-experiment-560: rgba(233, 84, 32, 0.70);
    --brand-experiment-600: rgba(233, 84, 32, 0.80);
    --background-modifier-acent: #e95420;
    --interactive-active: var(--neon-yellow-color);
    --search-popout-date-picker-hint-value-background-hover: rgba(233, 84, 32, 0.80);
    --background-primary: #1e1e1e;
    --background-secondary:#242424;
    --background-secondary-alt: #1c1c1c;
    --background-tertiary: #1e1e1e;
    --background-accent: rgb(15, 15, 15);
    --background-floating: black;
    --userarea-background: var(--background-tertiary);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --channels-default: #969696;
    --channeltextarea-background: rgb(25, 25, 25);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --activity-card-background: #0f0f0f;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: rgb(75, 75, 75);
    --background-modifier-hover: rgba(50, 50, 50, 0.16);
    --background-modifier-active: rgba(50, 50, 50, 0.24);
    --background-modifier-selected: rgba(50, 50, 50, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --text-link: #00b0f4;
    --text-normal: #dcddde;
    --text-muted: #969696;
    --deprecated-panel-background: #292b2f;
    --deprecated-card-bg: rgba(32, 34, 37, 0.6);
    --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --background-accent-1: rgb(15, 15, 15, 0.1);
    --background-accent-3: rgb(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);
}

.tutorialContainer-2jwoiB .selected-2r1Hvo,
.listItemWrapper-3d87LP .selected-2r1Hvo {
    background: #242424;
}

.tutorialContainer-2jwoiB .circleIconButton-1VxDrg svg,
 .listItemWrapper-3d87LP .circleIconButton-1VxDrg svg {
     color: #e95420;
 }
