[Unit]
Description=Kopia snapshot to primary repo
Wants=network-online.target
After=network-online.target
OnFailure=kopia-notify@%n.service

[Service]
Type=oneshot
Nice=10
ExecStart=%h/.dotfiles/kopia/scripts/snapshot.sh
