@import "../theme.css";

* {
  font-family: "Google Sans";
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(15, 19, 26, 0.9);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #e95420;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(71, 82, 102, 0.2);
  border: none;
  outline: none;
}

#text {
  margin: 2px;
}

#text:selected {}
