[Desktop Entry]
Type=Application
Name=Enpass
Exec= /opt/Enpass/bin/runenpass.sh startWithTray 
Icon=enpass.png
Comment=The best password manager
X-GNOME-Autostart-Delay=12
X-GNOME-Autostart-enabled=true
